<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@GlobalVariables.User</span>
                        <span class="text-muted text-xs block">Grade @GlobalVariables.Grade <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Contacts</a></li>
                        <li><a class="dropdown-item" href="#">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    ACA
                </div>
            </li>
            @*<li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Landing")">
            <a href="@Url.Action("Landing", "Home")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Home</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse @MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,controller: "Home", cssClass: "in")">
                <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Landing")"><a href="@Url.Action("Landing", "Home")">Dashboard</a></li>
            </ul>
        </li>*@
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Landing")">
                <a href="@Url.Action("Landing", "Home")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Home</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Profile")">
                <a href="@Url.Action("Profile", "Home")"><i class="fa fa-user-circle"></i> <span class="nav-label" data-i18n="nav.layouts">Profile</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,controller: "Mailbox")">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.mailbox">Mailbox </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse @MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,controller: "Mailbox", cssClass: "in")">
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Inbox")"><a href="@Url.Action("Inbox", "Mailbox")">Inbox</a></li>
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "EmailView")"><a href="@Url.Action("EmailView", "Mailbox")">Email view</a></li>
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "ComposeEmail")"><a href="@Url.Action("ComposeEmail", "Mailbox")">Compose email</a></li>
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "EmailTemplates")"><a href="@Url.Action("EmailTemplates", "Mailbox")">Email templates</a></li>
                </ul>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Calendar")">
                <a href="@Url.Action("Calendar", "Home")"><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.">Calendar</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Contacts")">
                <a href="@Url.Action("Contacts", "Home")"><i class="fa fa-address-book"></i> <span class="nav-label" data-i18n="nav.cal">Contacts</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Notes")">
                <a href="@Url.Action("Notes", "Home")"><i class="fa fa-sticky-note"></i> <span class="nav-label" data-i18n="nav.cal">Classroom</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Notes")">
                <a href="@Url.Action("Notes", "Home")"><i class="fa fa-sticky-note"></i> <span class="nav-label" data-i18n="nav.cal">Quick Notes</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Blog")">
                <a href="@Url.Action("Blog", "Home")"><i class="fa fa-comments-o"></i> <span class="nav-label" data-i18n="nav.cal">Blog</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "UploadFile")">
                <a href="@Url.Action("UploadFile", "Home")"><i class="fa fa-archive"></i> <span class="nav-label" data-i18n="nav.cal">File Manager</span></a>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,controller: "Exam")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Exams</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,controller: "Exam", cssClass: "in")">
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "BasicFroms")"><a href="@Url.Action("BasicFroms", "Exam")">Timetable</a></li>
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Advanced")"><a href="@Url.Action("Advanced", "Exam")">Results</a></li>
                    <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Wizard")"><a href="@Url.Action("Wizard", "Exam")">Past Papers</a></li>
                </ul>
            </li>
            <li class="@MyACAWebsite.Helpers.HtmlHelpers.IsSelected(this.Html,action: "Blog")">
                <a href="@Url.Action("Blog", "Home")"><i class="fa fa-comments-o"></i> <span class="nav-label" data-i18n="nav.cal">Assignments</span></a>
            </li>
        </ul>
    </div>
</nav>